@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


:root{
    --clr-blue: #348aa1;
    --clr-black: #000;
    --clr-white: #fff;
    --clr-gray: #7d7987;
    --clr-dark-blue: #233348;
    --clr-dark-purple: #1f1534;
    --font-family-mulish: 'Mulish', sans-serif;
    --transition-default: all 300ms ease-in-out;
}

html{
    scroll-behavior: smooth;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
}

/* some resets & configuration */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
}

a.logo {
    font-size: 24px;
    color: #f2f2f2;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}

a.logo b {
    font-weight: 900;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

a.logo span {
    color: #4ECDC4;
}

img, picture, video, canvas, svg{
    max-width: 100%;
    display: block;
}
input, button, textarea, select{
    font: inherit;
    outline: 0;
}
h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}
textarea{
    resize: none;
}
img, object, embed, video{
    max-width: 100%;
}

body{
    font-family: var(--font-family-mulish);
    line-height: 1.6;
    height: 100%;
    font-weight: 300;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.page-wrapper{
    overflow: hidden!important;
}

/* header section  & navbar */
.home{
    position: relative;
    min-height: 100vh;
    background-color: var(--clr-blue);
}
.home *{
    color: var(--clr-white);
}

/* banner */
.banner-title{
    font-size: 48px;
    line-height: 1.166;
}
.banner-content{
    display: grid;
    column-gap: 78px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.banner-left .content-wrapper{
    max-width: 445px;
    margin-left: auto;
}
.banner-left .content-wrapper p{
    max-width: 340px;
}
.banner-left .text{
    margin-top: 25px;
    margin-bottom: 45px;
}



/* Media queries */
@media screen and (max-width: 1120px){
    .feedback-list .feedback-item{
        column-gap: 40px;
    }

    .footer-item:nth-child(1){
        padding-right: 0;
    }

    .footer-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 992px){
    .navbar .navbar-show-btn{
        display: block;
    }

    .navbar .navbar-hide-btn i{
        color: var(--clr-black);
    }

    .navbar-box{
        position: fixed;
        right: 0;
        top: 0;
        width: 280px;
        height: 100%;
        box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
        z-index: 999;
        background-color: var(--clr-white);
        padding: 48px 32px 24px;
        transform: translateX(100%);
        transition: var(--transition-default);
    }

    .navbar-box-show{
        transform: translateX(0);
    }

    .navbar-box .nav-link{
        color: var(--clr-black);
        position: relative;
        padding-bottom: 8px;
    }

    .navbar-box .nav-link::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 0;
        background-color: var(--clr-blue);
        transition: var(--transition-default);
    }
    .navbar-box .nav-link:hover{
        color: var(--clr-blue);
    }
    .navbar-box .nav-link:hover::after{
        width: 100%;
    }
    .navbar-box .nav-link.nav-active{
        color: var(--clr-blue);
    }
    .navbar-box .nav-item{
        margin: 12px 0;
    }
    .navbar-box .navbar-nav{
        flex-direction: column;
    }
    .navbar-box .navbar-hide-btn{
        display: block;
        position: absolute;
        right: 16px;
        top: 16px;
        font-size: 24px;
    }

    /* banner */
    .banner-content{
        column-gap: 36px;
        grid-template-columns: repeat(1, 1fr);
    }
    .banner .banner-left .content-wrapper{
        max-width: 540px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .banner-left .content-wrapper p{
        max-width: 100%;
    }
    .banner .banner-right{
        justify-content: center;
        margin-top: 40px;
        max-width: 480px;
        margin-right: auto;
        margin-left: auto;
    }

@media screen and (max-width: 768px){
    /* navbar */
    .element-one img{
        width: 40px;
    }
  
}


@media screen and (max-width: 450px){
    .navbar-box{
        width: 100%;
    }
}}